<div class="splash">
    <div class='navbar'>
        <div class ='left'>
            <div class="logo">
                    <p>DRIVELINE</p>
            </div>
            <div class='options'>
                
                <!-- <label class='selected' style='margin-right: 20px;'>Rentals </label><label> Sales</label> -->
            </div>
        </div>
        <div class="right">
           <p><a href="/">Login</a> | <a href="/">Sign up</a></p>
        </div>
    </div>
    <div class="splashGrid">
        <div class="left">
            <h2 class="message">Welcome to <p style="display: inline; color: #fff">DRIVELINE</p>
                    REQUEST, <p style="display: inline; color: #2BBDA3">RENT, or BUY</p> AND
                    DRIVE TODAY!</h2>
        </div>
        <div class="right">
            <div class="modal">
                <form style="text-align: center;">
                    <select style="" class="type">
                        <option value="Sedan">-</option>
                        <option value="Sedan">Sedan</option>
                        <option value="SUV">SUV</option>
                        <option value="Truck">Truck</option>
                        <option value="Coupe">Luxury</option>
                        <option value="Sedan">Coupe</option>
                    </select>
                    <input class='date' type="date" value="From"/>
                    <input class='date' type="date"/>
                    <br/>
                    <input class='returnOption' type="checkbox"> <label>Same Day Return</label>
                    <br/>
                    <input class='submit' type="submit"/>
                </form>
            </div>
        </div>
    </div>
    <div class='splashOverlay'>
        <div class='optionRow'>
            <button class='vehicle-button-active'>Sedans</button>
            <button class='vehicle-button-inactive'>SUV's</button>
            <button class='vehicle-button-inactive'>Coupes</button>
            <button class='vehicle-button-inactive'>Trucks</button>
        </div>
    </div>
</div>
<h2 class='heading'>Most Popular</h2>
<a href="/">Href to vehicles here</a>
<div></div>