.splash{
    min-width: 100%;
    width: 100%;
    min-height: 80%;
    height: 700px;
    background-image: url('../../assets/images/Bugatti_wallpaper.png');
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.navbar{ 
    
}